<%- include('../includes/head.ejs') %>
<script src="/vendors/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
        tinymce.init({
            selector: 'textarea',
            plugins: 'save',
            height : "960"

        });
</script>

<%- include('../includes/navigation.ejs') %>
<!-- ===============================================-->
<!--    Main Contents    -->
<!-- ===============================================-->
<div class="row g-0">

    <div class="col-lg-12 ps-lg-2 mb-3">
        <div class="card h-lg-100">
            <div class="card-header">
                <div class="row flex-between-center">
                    <div class="col-auto">
                        <h6 class="mb-0">
                            <% if (editing){ %>Edit Product
                            <% } else { %>Add Product
                            <% } %>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="card-body h-100 pe-0">
                <form class="product-form"
                    action="/admin/<% if (editing){ %>edit-product<% } else { %>add-product<% } %>" method="POST">
                    <!-- ===============================================-->
                    <!--    제원표    -->
                    <!-- ===============================================-->
                    <div class="card mb-3">
                        <div class="card-header">
                            <h5 class="mb-0">형식과 외관_제원</h5>
                        </div>
                        <div class="card-body bg-light">
                            <div class="row gx-2">
                                <div class="col-sm-6 mb-3">
                                    <label class="form-label" for="model_name">형식</label>
                                    <input class="form-control" id="model_name" name="model_name" type="text"
                                        value="<% if (editing){ %><%= product.model_name %><% } %>" placeholder="HXㅇㅇㅇ" />
                                </div>
                                <div class="col-sm-6 mb-3">
                                    <label class="form-label" for="machine_grade">규격</label>
                                    <input class="form-control" id="machine_grade" name="machine_grade" type="text"
                                        value="<% if (editing){ %><%= product.machine_grade %><% } %>"
                                        placeholder="OOton" />
                                </div>
                                <div class="col-sm-6 mb-3">
                                    <label class="form-label" for="operating_weight">자체중량 (㎏)</label>
                                    <input class="form-control" id="operating_weight" name="operating_weight"
                                        type="text" value="<% if (editing){ %><%= product.operating_weight %><% } %>"
                                        placeholder="kg" />
                                </div>
                                <div class="col-sm-6 mb-3">
                                    <label class="form-label" for="gearbox">변속기</label>
                                    <input class="form-control" id="gearbox" name="gearbox" type="text"
                                        value="<% if (editing){ %><%= product.gearbox %><% } %>" placeholder="무단 2속" />
                                </div>



                                <div class="col-sm-6 mb-3">
                                    <label class="form-label" for="overall_length">길이 (㎜)</label>
                                    <input class="form-control" id="overall_length" name="overall_length" type="text"
                                        value="<% if (editing){ %><%= product.overall_length %><% } %>"
                                        placeholder="mm" />
                                </div>

                                <div class="col-sm-6 mb-3">
                                    <label class="form-label" for="overall_width">너비 (㎜)</label>
                                    <input class="form-control" id="overall_width" name="overall_width" type="text"
                                        value="<% if (editing){ %><%= product.overall_width %><% } %>"
                                        placeholder="mm" /> </td>
                                </div>

                                <div class="col-sm-6 mb-3">
                                    <label class="form-label" for="overall_height">높이 (㎜)</label>
                                    <input class="form-control" id="overall_height" name="overall_height" type="text"
                                        value="<% if (editing){ %><%= product.overall_height %><% } %>"
                                        placeholder="mm" />
                                </div>

                                <div class="col-sm-6 mb-3">
                                    <label class="form-label" for="ground_clearance">최저지상고 (㎜)</label>
                                    <input class="form-control" id="ground_clearance" name="ground_clearance"
                                        type="text" value="<% if (editing){ %><%= product.ground_clearance %><% } %>"
                                        placeholder="mm" />
                                </div>



                                <div class="col-sm-6 mb-3">
                                    <label class="form-label" for="dozer_size">배토판너비x높이 (㎜ ㎜)</label>
                                    <input class="form-control" id="dozer_size" name="dozer_size" type="text"
                                        value="<% if (editing){ %><%= product.dozer_size %><% } %>" placeholder="도저" />
                                </div>


                                <div class="col-sm-6 mb-3">
                                    <label class="form-label" for="ETC">비고 (㎜)</label>
                                    <input class="form-control" id="ETC" name="ETC" type="text"
                                        value="<% if (editing){ %><%= product.ETC %><% } %>" placeholder="비고" />
                                </div>

                            </div>
                        </div>
                    </div>
    <!-- ===============================================-->
    <!--    트랙과 하부체    -->
    <!-- ===============================================-->
                    <div class="card mb-3">
                        <div class="card-header">
                            <h5 class="mb-0">트랙과 하부체</h5>
                        </div>
                        <div class="card-body bg-light">
                            <div class="row gx-2">
                                
                                <div class="col-sm-6 mb-3">
                                    <label class="form-label" for="shoe_width">슈폭 (㎜)</label>
                                    <input class="form-control" id="shoe_width" name="shoe_width" type="text"
                                        value="<% if (editing){ %><%= product.shoe_width %><% } %>" placeholder="mm" />
                                    </td>
                                </div>

                                <div class="col-sm-6 mb-3">
                                    <label class="form-label" for="track_height">트랙높이 (㎜)</label>
                                    <input class="form-control" id="track_height" name="track_height" type="text"
                                        value="<% if (editing){ %><%= product.track_height %><% } %>"
                                        placeholder="mm" /> </td>
                                </div>


                                <div class="col-sm-6 mb-3">
                                    <label class="form-label" for="track_gap">트랙중심간거리 (㎜)</label>
                                    <input class="form-control" id="track_gap" name="track_gap" type="text"
                                        value="<% if (editing){ %><%= product.track_gap %><% } %>" placeholder="mm" />
                                </div>
                                <div class="col-sm-6 mb-3">
                                    <label class="form-label" for="tumbler_distance">텀블러중심간거리 (㎜)</label>
                                    <input class="form-control" id="tumbler_distance" name="tumbler_distance"
                                        type="text" value="<% if (editing){ %><%= product.tumbler_distance %><% } %>"
                                        placeholder="mm" /> </td>
                                </div>

                                <div class="col-sm-6 mb-3">
                                    <label class="form-label" for="track_length">트랙길이 (㎜)</label>
                                    <input class="form-control" id="track_length" name="track_length" type="text"
                                        value="<% if (editing){ %><%= product.track_length %><% } %>"
                                        placeholder="mm" />
                                </div>


                            </div>
                        </div>
                    </div>

<%- include('../includes/attachments.ejs') %>

<%- include('../includes/swivel.ejs') %>


<%- include('../includes/travel.ejs') %>




                    <!-- ===============================================-->
                    <!--    외관도    -->
                    <!-- ===============================================-->
                    <div class="card mb-3">
                        <div class="card-header">
                            <h5 class="mb-0">도면</h5>
                        </div>
                        <div class="card-body bg-light">
                            <div class="row gx-2">
                                    <label class="form-label" for="drawing_exterior">외관도 </label>
                                    <textarea name="drawing_exterior" class="form-control tinymce d-none" ><% if (editing){ %><%= product.drawing_exterior %><% } %></textarea>
                            </div>
                        </div>

                        <div class="card-body bg-light">
                            <div class="row gx-2">
                                    <label class="form-label" for="drawing_boom">붐 도면 </label>
                                    <textarea name="drawing_boom" class="form-control tinymce d-none" ><% if (editing){ %><%= product.drawing_boom %><% } %></textarea>
                            </div>
                        </div>

                        <div class="card-body bg-light">
                            <div class="row gx-2">
                                    <label class="form-label" for="drawing_arm">암 도면 </label>
                                    <textarea name="drawing_arm" class="form-control tinymce d-none" ><% if (editing){ %><%= product.drawing_arm %><% } %></textarea>
                            </div>
                        </div>

                        <div class="card-body bg-light">
                            <div class="row gx-2">
                                    <label class="form-label" for="drawing_bucket">버켓 도면 </label>
                                    <textarea name="drawing_bucket" class="form-control tinymce d-none" ><% if (editing){ %><%= product.drawing_bucket %><% } %></textarea>
                            </div>
                        </div>

                        <div class="card-body bg-light">
                            <div class="row gx-2">
                                    <label class="form-label" for="drawing_bucket_capa">버켓 용적 </label>
                                    <textarea name="drawing_bucket_capa" class="form-control tinymce d-none" ><% if (editing){ %><%= product.drawing_bucket_capa %><% } %></textarea>
                            </div>
                        </div>

                        <div class="card-body bg-light">
                            <div class="row gx-2">
                                    <label class="form-label" for="drawing_Qcouplr">퀵 커플러 </label>
                                    <textarea name="drawing_Qcouplr" class="form-control tinymce d-none" ><% if (editing){ %><%= product.drawing_Qcouplr %><% } %></textarea>
                            </div>
                        </div>

                        <div class="card-body bg-light">
                            <div class="row gx-2">
                                    <label class="form-label" for="drawing_Emission_Certi">배출가스인증서 </label>
                                    <textarea name="drawing_Emission_Certi" class="form-control tinymce d-none" ><% if (editing){ %><%= product.drawing_Emission_Certi %><% } %></textarea>
                            </div>
                        </div>

                        <div class="card-body bg-light">
                            <div class="row gx-2">
                                    <label class="form-label" for="drawing_Emission_Certi2">배출가스인증서 </label>
                                    <textarea name="drawing_Emission_Certi2" class="form-control tinymce d-none" ><% if (editing){ %><%= product.drawing_Emission_Certi2 %><% } %></textarea>
                            </div>
                        </div>

                        <div class="card-body bg-light">
                            <div class="row gx-2">
                                    <label class="form-label" for="drawing_Engine_Curve">엔진 성능 곡선도 </label>
                                    <textarea name="drawing_Engine_Curve" class="form-control tinymce d-none" ><% if (editing){ %><%= product.drawing_Engine_Curve %><% } %></textarea>
                            </div>
                        </div>

                        




                    </div>




                    <% if (editing){ %>
                    <input type="hidden" value="<%= product.id %>" name="productId">
                    <% } %>
                    <button class="btn btn-link btn-sm btn p-0" type="submit"> <% if (editing){ %> Update Product
                        <% } else { %>Add Product<% } %></button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- End of Main Content -->

<%- include('../includes/end.ejs') %>