<%- include('../includes/head.ejs') %>
<script src="/vendors/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
    tinymce.init({
        selector: 'textarea',
        plugins: 'save',
        height: "960"

    });
</script>
<script>
    const deleteConfirm = (event) => {
        if (!confirm('이 모델을 삭제하시겠습니까?')) {
            event.preventDefault();
        }
    }
</script>

<%- include('../includes/navigation.ejs') %>
<!-- ===============================================-->
<!--    Main Contents    -->
<!-- ===============================================-->
<div class="row g-0">

    <div class="col-lg-12 ps-lg-2 mb-3">
        <div class="card h-lg-100">
            <div class="card-header">
                <div class="row flex-between-center">
                    <div class="col-auto">
                        <h5 class="mb-0">
                            <% if (editing){ %>Edit Wheel Excavator Spec
                            <% } else { %>Add Wheel Excavator Spec
                            <% } %>
                            </h5>
                    </div>
                </div>
            </div>
            <div class="card-body h-100 pe-0">
                <form class="product-form" action="/admin/<% if (editing){ %>edit-WEX<% } else { %>add-WEX<% } %>"
                    method="POST">


                    <!-- ===============================================-->
                    <!--    제원표    -->
                    <!-- ===============================================-->

                    <%- include('../includes/basic_spec_WEX.ejs') %>


                    <%- include('../includes/attachments.ejs') %>

<%- include('../includes/axleAndLoad_WEX.ejs') %>


                    <%- include('../includes/stability_WEX.ejs') %>


                    <%- include('../includes/travel_WEX.ejs') %>


                    <%- include('../includes/swivel.ejs') %>




                    <!-- ===============================================-->
                    <!--    외관도    -->
                    <!-- ===============================================-->
                    <div class="card mb-3">
                        <div class="card-header">
                            <h5 class="mb-0">도면</h5>
                            <h6>(이미지 붙여넣기 및 설명 추가)</h6>
                        </div>
                        <div class="card-body bg-light">
                            <div class="row gx-2">
                                <label class="form-label" for="drawings_exterior">외관도
                                </label>
                                <textarea name="drawings_exterior"
                                    class="form-control tinymce d-none"><% if (editing){ %><%= product.drawings.exterior %><% } %></textarea>
                            </div>
                        </div>



                        <div class="card-body bg-light">
                            <div class="row gx-2">
                                <label class="form-label" for="drawings_boom">붐 도면 </label>
                                <textarea name="drawings_boom"
                                    class="form-control tinymce d-none"><% if (editing){ %><%= product.drawings.boom %><% } %></textarea>
                            </div>
                        </div>

                        <div class="card-body bg-light">
                            <div class="row gx-2">
                                <label class="form-label" for="drawings_arm">암 도면 </label>
                                <textarea name="drawings_arm"
                                    class="form-control tinymce d-none"><% if (editing){ %><%= product.drawings.arm %><% } %></textarea>
                            </div>
                        </div>

                        <div class="card-body bg-light">
                            <div class="row gx-2">
                                <label class="form-label" for="drawings_bucket">버켓 도면 </label>
                                <textarea name="drawings_bucket"
                                    class="form-control tinymce d-none"><% if (editing){ %><%= product.drawings.bucket %><% } %></textarea>
                            </div>
                        </div>

                        <div class="card-body bg-light">
                            <div class="row gx-2">
                                <label class="form-label" for="drawings_bucket_capa">버켓 용적 </label>
                                <textarea name="drawings_bucket_capa"
                                    class="form-control tinymce d-none"><% if (editing){ %><%= product.drawings.bucket_capa %><% } %></textarea>
                            </div>
                        </div>

                        <div class="card-body bg-light">
                            <div class="row gx-2">
                                <label class="form-label" for="drawings_Qcouplr">퀵 커플러 </label>
                                <textarea name="drawings_Qcouplr"
                                    class="form-control tinymce d-none"><% if (editing){ %><%= product.drawings.Qcouplr %><% } %></textarea>
                            </div>
                        </div>

                        <div class="card-body bg-light">
                            <div class="row gx-2">
                                <label class="form-label" for="drawings_Emission_Certi">배출가스인증서 </label>
                                <textarea name="drawings_Emission_Certi"
                                    class="form-control tinymce d-none"><% if (editing){ %><%= product.drawings.Emission_Certi %><% } %></textarea>
                            </div>
                        </div>

                        <div class="card-body bg-light">
                            <div class="row gx-2">
                                <label class="form-label" for="drawings_Emission_Certi2">배출가스인증서 </label>
                                <textarea name="drawings_Emission_Certi2"
                                    class="form-control tinymce d-none"><% if (editing){ %><%= product.drawings.Emission_Certi2 %><% } %></textarea>
                            </div>
                        </div>

                        <div class="card-body bg-light">
                            <div class="row gx-2">
                                <label class="form-label" for="drawings_Engine_Curve">엔진 성능 곡선도 </label>
                                <textarea name="drawings_Engine_Curve"
                                    class="form-control tinymce d-none"><% if (editing){ %><%= product.drawings.Engine_Curve %><% } %></textarea>
                            </div>
                        </div>

                    </div>

                    <% if (editing){ %>
                    <input type="hidden" value="<%= product.id %>" name="productId">
                    <% } %>
                    <button class="btn btn-primary" type="submit"> <% if (editing){ %> Update Product
                        <% } else { %>Add Product<% } %></button>
                </form>

                <% if (editing){ %>
                <form action="/admin/delete-WEX" method="POST">
                    <input type="hidden" value="<%= product._id %>" name="productId">
                    <button class="btn btn-danger " type="submit" onClick="deleteConfirm(event)">
                        Delete
                    </button>

                </form>
                <% } %>

            </div>
        </div>
    </div>
</div>

<!-- End of Main Content -->

<%- include('../includes/end.ejs') %>