<!-- ===============================================-->
<!--    작업장치    -->
<!-- ===============================================-->
<div class="card mb-3">
    <div class="card-header">
        <h5 class="mb-0">작업장치와 작업반경</h5>
    </div>
    <div class="card-body bg-light">

        <div class="row gx-2">
            <div class="input-group mb-3">
                <span class="input-group-text">버켓 용량</span>
                <input class="form-control" id="bucket_struck" name="bucket_struck" type="text"
                    value="<% if (editing){ %><%= product.bucket_struck %><% } %>" placeholder="평적 ㎥" />
                <input class="form-control" id="bucket_heap" name="bucket_heap" type="text"
                    value="<% if (editing){ %><%= product.bucket_heap %><% } %>" placeholder="산적 ㎥" />
            </div>


            <div class="input-group  mb-3">
                <span class="input-group-text">붐과 암 (㎜)</span>
                <input class="form-control" id="boom_length" name="boom_length" type="text"
                    value="<% if (editing){ %><%= product.boom_length %><% } %>" placeholder="붐 (㎜)" />
                <input class="form-control" id="arm_length" name="arm_length" type="text"
                    value="<% if (editing){ %><%= product.arm_length %><% } %>" placeholder="암 (㎜)" />
            </div>

            <div class="input-group  mb-3">
                <span class="input-group-text">최대굴착반경 (㎜)</span>
                <input class="form-control" id="digging_reach" name="digging_reach" type="text"
                    value="<% if (editing){ %><%= product.digging_reach %><% } %>" placeholder="with Q.C. ㎜" />
                <input class="form-control" id="digging_reach_woqc" name="digging_reach_woqc" type="text"
                    value="<% if (editing){ %><%= product.digging_reach_woqc %><% } %>" placeholder="without Q.C ㎜" />
            </div>

            <div class="input-group  mb-3">
                <span class="input-group-text">최대굴착깊이 (㎜)</span>
                <input class="form-control" id="digging_depth" name="digging_depth" type="text"
                    value="<% if (editing){ %><%= product.digging_depth %><% } %>" placeholder="with Q.C. ㎜" />
                <input class="form-control" id="digging_depth_woqc" name="digging_depth_woqc" type="text"
                    value="<% if (editing){ %><%= product.digging_depth_woqc %><% } %>" placeholder="without Q.C ㎜" />
            </div>

            <div class="input-group  mb-3">
                <span class="input-group-text">최대덤프높이 (㎜)</span>
                <input class="form-control" id="loading_height" name="loading_height" type="text"
                    value="<% if (editing){ %><%= product.loading_height %><% } %>" placeholder="with Q.C. ㎜" />
                <input class="form-control" id="loading_height_woqc" name="loading_height_woqc" type="text"
                    value="<% if (editing){ %><%= product.loading_height_woqc %><% } %>" placeholder="without Q.C ㎜" />
            </div>

            <div class="input-group">
                <span class="input-group-text">퀵 커플러 (1)</span>
                <input class="form-control" id="quick_coupler_1" name="quick_coupler_1" type="text"
                    value="<% if (editing){ %><%= product.quick_coupler_1 %><% } %>" placeholder="모델명 " />
                <input class="form-control" id="quick_coupler_weight_1" name="quick_coupler_weight_1" type="number"
                    value="<% if (editing){ %><%= product.quick_coupler_weight_1 %><% } %>" placeholder="중량(kg)" />
            </div>

            <div class="input-group  mb-3">
                <span class="input-group-text">퀵 커플러 (2)</span>
                <input class="form-control" id="quick_coupler_2" name="quick_coupler_2" type="text"
                    value="<% if (editing){ %><%= product.quick_coupler_2 %><% } %>" placeholder="모델명 " />
                <input class="form-control" id="quick_coupler_weight_2" name="quick_coupler_weight_2" type="number"
                    value="<% if (editing){ %><%= product.quick_coupler_weight_2 %><% } %>" placeholder="중량(kg)" />
            </div>
            <div class="card-header">
                <h5 class="mb-0">전도하중과 무게중심 </h5>
            </div>

            <div class="col-sm-6 mb-3">
                <label class="form-label" for="bucket_COS">최대굴착거리 버켓 위치 (선회중심 기준) </label>
                <input class="form-control" id="bucket_COS" name="bucket_COS" type="number"
                    value="<% if (editing){ %><%= product.bucket_COS %><% } %>" placeholder="㎜" />
            </div>
            <div class="col-sm-6 mb-3">
                <label class="form-label" for="COG_COS">장비 무게 중심 (선회중심 기준) </label>
                <input class="form-control" id="COG_COS" name="COG_COS" type="number"
                    value="<% if (editing){ %><%= product.COG_COS %><% } %>" placeholder="㎜" />
            </div>
            <div class="col-sm-6 mb-3">
                <label class="form-label" for="tipping_line">전도 지선 (선회중심 기준) </label>
                <input class="form-control" id="tipping_line" name="tipping_line" type="number"
                    value="<% if (editing){ %><%= product.tipping_line %><% } %>" placeholder="㎜" />
            </div>

        </div>


    </div>
</div>