<!-- ===============================================-->
<!--    대표 제원    -->
<!-- ===============================================-->
<div class="card mb-3">
    <div class="card-header">
        <h5 class="mb-0">대표 사양</h5>
    </div>
    <div class="card-body bg-light">
        <div class="row gx-2">
            <div class="input-group mb-3">
                <span class="input-group-text">형식 </span>
                <input class="form-control" id="model_name" name="model_name" type="text"
                    value="<% if (editing){ %><%= product.model_name %><% } %>" placeholder="기종명" />
                <span class="input-group-text">형식 번호</span>
                <input class="form-control" id="serial_no" name="serial_no" type="number"
                    value="<% if (editing){ %><%= product.serial_no %><% } %>" placeholder="serial No." />
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text"> 자체중량 </span>
                <input class="form-control" id="operating_weight" name="operating_weight" type="number" step="1"
                    value="<% if (editing){ %><%= product.operating_weight %><% } %>" placeholder="kg" />
                <span class="input-group-text"> 규격</span>
                <input class="form-control" id="machine_grade" name="machine_grade" type="text"
                    value="<% if (editing){ %><%= product.machine_grade %><% } %>" placeholder="OOton" />
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">버켓 용량 (평적)</span>
                <input class="form-control" id="bucket_struck" name="bucket_struck" type="text"
                    value="<% if (editing){ %><%= product.attachments.bucket_struck %><% } %>" placeholder="평적 ㎥" />
                <span class="input-group-text">버켓 용량 (산적)</span>
                <input class="form-control" id="bucket_heap" name="bucket_heap" type="text"
                    value="<% if (editing){ %><%= product.attachments.bucket_heap %><% } %>" placeholder="산적 ㎥" />
            </div>


            <div class="input-group  mb-3">
                <span class="input-group-text">붐 (㎜)</span>
                <input class="form-control" id="boom_length" name="boom_length" type="text"
                    value="<% if (editing){ %><%= product.attachments.boom_length %><% } %>" placeholder="붐 (㎜)" />
                <span class="input-group-text">암 (㎜)</span>
                <input class="form-control" id="arm_length" name="arm_length" type="text"
                    value="<% if (editing){ %><%= product.attachments.arm_length %><% } %>" placeholder="암 (㎜)" />
            </div>


            <div class="input-group mb-3">
                <span class="input-group-text"> 변속기 </span>
                <input class="form-control" id="gearbox" name="gearbox" type="text"
                    value="<% if (editing){ %><%= product.gearbox %><% } %>" placeholder="무변속" />
                <span class="input-group-text"> 기타 사항</span>
                <input class="form-control" id="ETC" name="ETC" type="text"
                    value="<% if (editing){ %><%= product.ETC %><% } %>" placeholder="가변트랙, 특수사양 등" />
            </div>






        </div>
    </div>
</div>

