<!-- ===============================================-->
<!--    형식과 외관    -->
<!-- ===============================================-->
<div class="card mb-3">
    <div class="card-header">
        <h5 class="mb-0">형식과 외관</h5>
    </div>
    <div class="card-body bg-light">
        <div class="row gx-2">
            <div class="input-group mb-3">
                <span class="input-group-text">형식 </span>
                <input class="form-control" id="model_name" name="model_name" type="text"
                    value="<% if (editing){ %><%= product.model_name %><% } %>" placeholder="기종명" />
                <span class="input-group-text">형식 번호</span>
                <input class="form-control" id="serial_no" name="serial_no" type="number"
                    value="<% if (editing){ %><%= product.serial_no %><% } %>" placeholder="serial No." />
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text"> 자체중량 </span>
                <input class="form-control" id="operating_weight" name="operating_weight" type="number" step="1"
                    value="<% if (editing){ %><%= product.operating_weight %><% } %>" placeholder="kg" />
                <span class="input-group-text"> 규격</span>
                <input class="form-control" id="machine_grade" name="machine_grade" type="text"
                    value="<% if (editing){ %><%= product.machine_grade %><% } %>" placeholder="OOton" />
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">길이</span>
                <input class="form-control" id="overall_length" name="overall_length" type="number"
                    value="<% if (editing){ %><%= product.overall_length %><% } %>" placeholder="길이(㎜)" />
                <span class="input-group-text">너비</span>
                <input class="form-control" id="overall_width" name="overall_width" type="number"
                    value="<% if (editing){ %><%= product.overall_width %><% } %>" placeholder="너비(㎜)" /> </td>
                <span class="input-group-text">높이</span>
                <input class="form-control" id="overall_height" name="overall_height" type="number"
                    value="<% if (editing){ %><%= product.overall_height %><% } %>" placeholder="높이(㎜)" />
            </div>


            <div class="input-group mb-3">
                <span class="input-group-text"> 변속기 </span>
                <input class="form-control" id="gearbox" name="gearbox" type="text"
                    value="<% if (editing){ %><%= product.gearbox %><% } %>" placeholder="전진2단 후진2단" />
                <span class="input-group-text"> 기타 사항</span>
                <input class="form-control" id="ETC" name="ETC" type="text"
                    value="<% if (editing){ %><%= product.ETC %><% } %>" placeholder="특수사양 등" />
            </div>






        </div>
    </div>
</div>

<!-- ===============================================-->
<!--    엔진 사양    -->
<!-- ===============================================-->

<div class="card mb-3">
    <div class="card-header">
        <h5 class="mb-0">엔진 사양</h5>
    </div>
    <div class="card-body bg-light">

        <div class="row gx-2">

            <div class="input-group mb-3">
                <span class="input-group-text">엔진명 </span>
                <input class="form-control" id="engine_name" name="engine_name" type="text"
                    value="<% if (editing){ %><%= product.engine.engine_name %><% } %>" placeholder="인증엔진명" />
                <span class="input-group-text">제작사 </span>
                <input class="form-control" id="engine_supplier" name="engine_supplier" type="text"
                    value="<% if (editing){ %><%= product.engine.supplier %><% } %>" placeholder="엔진제작사" />
                <span class="input-group-text">규격 </span>
                    <input class="form-control" id="engine_cylinder" name="engine_cylinder" type="number"
                    value="<% if (editing){ %><%= product.engine.cylinder %><% } %>" placeholder="기통" /></td>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">정격 출력 </span>
                <input class="form-control" id="engine_power" name="engine_power" type="number" step="any"
                    value="<% if (editing){ %><%= product.engine.power %><% } %>" placeholder="ps" />
                <span class="input-group-text">@</span>
                <input class="form-control" id="nominal_rev" name="nominal_rev" type="number"
                    value="<% if (editing){ %><%= product.engine.nominal_rev %><% } %>" placeholder="rpm" />
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">최대 토크 </span>
                <input class="form-control" id="engine_torque" name="engine_torque" type="number" step="any"
                    value="<% if (editing){ %><%= product.engine.torque %><% } %>" placeholder="㎏ㆍm" /></td>
                <span class="input-group-text">@</span>

                <label class="form-label" for="torque_rev"> </label>
                <input class="form-control" id="torque_rev" name="torque_rev" type="number"
                    value="<% if (editing){ %><%= product.engine.torque_rev %><% } %>" placeholder="rpm" />
            </div>
            
        </div>
    </div>
</div>
