<!-- ===============================================-->
<!--    선회 능력    -->
<!-- ===============================================-->
<div class="card mb-3">
    <div class="card-header">
        <h5 class="mb-0">선회 능력</h5>
    </div>
    <div class="card-body bg-light">

        <div class="row gx-2">
            <div class="input-group  mb-3">
                <span class="input-group-text">선회펌프 유량</span>
                <input class="form-control" id="pump_displacement_swing" name="pump_displacement_swing" type="number"
                    value="<% if (editing){ %><%= product.pump_displacement_swing %><% } %>" placeholder="l/min" />
                <span class="input-group-text">선회 감속비</span>
                <input class="form-control" id="swing_reduction" name="swing_reduction"
                    value="<% if (editing){ %><%= product.swing_reduction %><% } %>" placeholder="" />
            </div>

            <div class="input-group  mb-3">
                <span class="input-group-text">선회모터 용적</span>
                <input class="form-control" id="motor_displacement_swing" name="motor_displacement_swing"
                    value="<% if (editing){ %><%= product.motor_displacement_swing %><% } %>" placeholder="cc/rev" />
                <span class="input-group-text">선회모터 용적 효율</span>
                <input class="form-control" id="swing_motor_eff" name="swing_motor_eff"
                    value="<% if (editing){ %><%= product.swing_motor_eff %><% } %>" placeholder="" />
            </div>


            
            <div class="row gx-2">
                <label class="form-label" for="swing_reduction_description">선회 감속비 계산 자료
                </label>
                <textarea name="swing_reduction_description"
                    class="form-control tinymce d-none"><% if (editing){ %><%= product.swing_reduction_description %><% } %></textarea>
            </div>



        </div>
    </div>
</div>