<!-- ===============================================-->
<!--    주행 및 등판능력    -->
<!-- ===============================================-->
<div class="card mb-3">
    <div class="card-header">
        <h5 class="mb-0">주행, 등판 능력</h5>
    </div>
    <div class="card-body bg-light">

        <div class="row gx-2">

            <div class="input-group  mb-3">

                <span class="input-group-text">주행 펌프 유량 / 압력</span>
                <input class="form-control" id="motor_displacement_travel" name="motor_displacement_travel"
                    type="number" step="any" value="<% if (editing){ %><%= product.motor_displacement_travel %><% } %>"
                    placeholder="유량 (Q. l/min)" />
                <input class="form-control" id="travel_pump_pressure" name="travel_pump_pressure" type="number"
                    step="any" value="<% if (editing){ %><%= product.travel_pump_pressure %><% } %>"
                    placeholder="압력 (P. bar)" />
            </div>

            <div class="input-group  mb-3">
                <span class="input-group-text">모터 용적 (Q<sub>m1/m2</sub>)</span>
                <input class="form-control" id="TM_flow_1" name="TM_flow_1" type="number" step="any"
                    value="<% if (editing){ %><%= product.TM_flow_1 %><% } %>" placeholder="1속" />
                <input class="form-control" id="TM_flow_2" name="TM_flow_2" type="number" step="any"
                    value="<% if (editing){ %><%= product.TM_flow_2 %><% } %>" placeholder="2속" />
            </div>

            <label class="form-label">모터 용적 효율 / 모터 기계 효율 / 동력 전달 효율 </label>
            <div class="input-group  mb-3">

                <span class="input-group-text">(μ<sub>mv</sub>) / (μ<sub>mt</sub>) / (μ<sub>r</sub>)</span>
                <input class="form-control" id="TM_mv" name="TM_mv" type="number" step="any" min="0" max="1"
                    value="<% if (editing){ %><%= product.TM_mv %><% } %>" placeholder="모터 용적 효율" />
                <input class="form-control" id="TM_mt" name="TM_mt" type="number" step="any" min="0" max="1"
                    value="<% if (editing){ %><%= product.TM_mt %><% } %>" placeholder="모터 기계 효율" />
                <input class="form-control" id="TM_r" name="TM_r" type="number" step="any" min="0" max="1"
                    value="<% if (editing){ %><%= product.TM_r %><% } %>" placeholder="동력 전달 효율" />
            </div>

            <label class="form-label">구동 점착 계수 / 주행 저항 계수 </label>
            <div class="input-group  mb-3">
                <span class="input-group-text">(μ<sub></sub>) / (ξ)</span>
                <input class="form-control" id="surface_drag" name="surface_drag" type="number" step="any" min="0"
                    max="1" value="<% if (editing){ %><%= product.surface_drag %><% } %>" placeholder="0~1" />
                <input class="form-control" id="travel_drag" name="travel_drag" type="number" step="any" min="0" max="1"
                    value="<% if (editing){ %><%= product.travel_drag %><% } %>" placeholder="0~1" />
            </div>


            <div class="input-group  mb-3">
                <span class="input-group-text">주행감속비 / 스프로켓 반경 (R)</span>
                <input class="form-control" id="travel_reduc" name="travel_reduc" type="number" step="any"
                    value="<% if (editing){ %><%= product.travel_reduc %><% } %>" placeholder="주행감속비" />
                <input class="form-control" id="sprocket_radius" name="sprocket_radius" type="number"
                    value="<% if (editing){ %><%= product.sprocket_radius %><% } %>" placeholder="스프로켓 반경(㎜)" />
            </div>

            <div class="col-sm-6 mb-3">
                <label class="form-label" for="greadability_ref">기준등판각도 (θ<sub>ref</sub>)</label>
                <input class="form-control" id="greadability_ref" name="greadability_ref" type="number"
                    value="<% if (editing){ %><%= product.greadability_ref %><% } %>" placeholder="" />
            </div>

            <div class="col-sm-6 mb-3">
                <label class="form-label" for="brake_torque">브레이크 토크 (T<sub>b</sub>)</label>
                <input class="form-control" id="brake_torque" name="brake_torque" type="number" step="any"
                    value="<% if (editing){ %><%= product.brake_torque %><% } %>" placeholder="" />
            </div>

        </div>
    </div>
</div>