<%- include('../includes/head.ejs') %>


<%- include('../includes/navigation.ejs') %>
<!-- ===============================================-->
<!--    Main Contents    -->
<!-- ===============================================-->
<div class="row g-0">
                <div class="row g-3 mb-3">


                    <div class="col-xxl-12 col-md-12">
                        <div class="card z-index-1" id="recentPurchaseTable" data-list='{"valueNames":["name","email","product","payment","amount"],"page":30,"pagination":true}'>
                            <div class="card-header">
                                <div class="row flex-between-center">
                                    <div class="col-6 col-sm-auto d-flex align-items-center pe-0">
                                        <h5 class="fs-0 mb-0 text-nowrap py-2 py-xl-0">EU TCF</h5>
                                    </div>
                                    <div class="col-6 col-sm-auto ms-auto text-end ps-0">

                                        <div id="table-purchases-replace-element">
                                            <button class="btn btn-falcon-default btn-sm" type="button"><span class="fas fa-plus" data-fa-transform="shrink-3 down-2"></span><span class="d-none d-sm-inline-block ms-1">New</span></button>
                                            <button class="btn btn-falcon-default btn-sm mx-2" type="button"><span class="fas fa-filter" data-fa-transform="shrink-3 down-2"></span><span class="d-none d-sm-inline-block ms-1">Filter</span></button>
                                            <button class="btn btn-falcon-default btn-sm" type="button"><span class="fas fa-external-link-alt" data-fa-transform="shrink-3 down-2"></span><span class="d-none d-sm-inline-block ms-1">Export</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body px-0 py-0">                                      
                                


                                <div class="table-responsive scrollbar">
                                    <table class="table table-sm fs--1 mb-0 overflow-hidden">
                                        <thead class="bg-200 text-900">
                                            <tr>
                                                <th class="white-space-nowrap">
                                                    <div class="form-check mb-0 d-flex align-items-center">
                                                        <input class="form-check-input" id="checkbox-bulk-purchases-select" type="checkbox" data-bulk-select='{"body":"table-purchase-body","actions":"table-purchases-actions","replacedElement":"table-purchases-replace-element"}' />
                                                    </div>
                                                </th>
                                                <th class="sort pe-1 align-middle white-space-nowrap" data-sort="name">Document Number</th>
                                                <th class="sort pe-1 align-middle white-space-nowrap" data-sort="name">Item</th>
                                                <th class="sort pe-1 align-middle white-space-nowrap" data-sort="date">Date</th>
                                                <th class="sort pe-1 align-middle white-space-nowrap" data-sort="name">Name</th>
                                            </tr>
                                        </thead>
                                        <tbody class="list" id="table-purchase-body">
                                                <% for(var i=0; i < index.length; i++) { %>
                                            <tr class="btn-reveal-trigger">
                                                <td class="align-middle" style="width: 28px;">
                                                    <div class="form-check mb-0">
                                                        <input class="form-check-input" type="checkbox" id="recent-purchase-0" data-bulk-select-row="data-bulk-select-row" />
                                                    </div>
                                                </td>
                                                <th class="align-middle white-space-nowrap Doc_No"><a href=""><%= index[i].Doc_No %></a></th>                                                
                                                <td class="align-middle white-space-nowrap Item"><%= index[i].Item %></td>
                                                <td class="align-middle white-space-nowrap Date"><%= index[i].Date %> </td>
                                                <td class="align-middle white-space-nowrap name"><%= index[i].name %> </td>                                                
                                                
                                                <td class="align-middle white-space-nowrap text-end">
                                                    <div class="dropstart font-sans-serif position-static d-inline-block">
                                                        <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal float-end" type="button" id="dropdown0" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h fs--1"></span></button>
                                                        <div class="dropdown-menu dropdown-menu-end border py-2" aria-labelledby="dropdown0"><a class="dropdown-item" href="#!">View</a><a class="dropdown-item" href="#!">Edit</a><a class="dropdown-item" href="#!">Refund</a>
                                                            <div class="dropdown-divider"></div><a class="dropdown-item text-warning" href="#!">Archive</a><a class="dropdown-item text-danger" href="#!">Delete</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                                  <% } %>

                                        </tbody>
                                    </table>
                                </div> 


                            </div>
                            <div class="card-footer">
                                <div class="row align-items-center">
                                    <div class="pagination d-none"></div>
                                    <div class="col">
                                        <p class="mb-0 fs--1"><span class="d-none d-sm-inline-block me-2" data-list-info="data-list-info"> </span>
                                        </p>
                                    </div>
                                    <div class="col-auto d-flex">
                                        <button class="btn btn-sm btn-primary" type="button" data-list-pagination="prev"><span>Previous</span></button>
                                        <button class="btn btn-sm btn-primary px-4 ms-2" type="button" data-list-pagination="next"><span>Next</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
</div>

<!-- End of Main Content -->

<%- include('../includes/end.ejs') %>