<%- include('includes/head.ejs') %>
</head>

<body>
  <%- include('includes/navigation.ejs') %>

  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class=" justify-content-between flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">기종</th>
              <th scope="col">대표사양</th>
              <th scope="col">버켓사양</th>
              <th scope="col">상세사항</th>
              <th scope="col">SOP</th>
              <th scope="col">엔진</th>
              <th scope="col">확인검사</th>             

            </tr>
          </thead>
          <tbody>
            <% for(var i=0; i < data.length; i++) { %>
            <tr>
              <td><%= data[i].Model %></td>
              <td><%= data[i].KRCode %></td>
              <td><%= data[i].Bucket %></td>
              <td><%= data[i].options %></td>
              <td><%= data[i].SOP %></td>
              <td><%= data[i].Engine %></td>
              <td><%= data[i].ApprDate  %></td>
            </tr>
            <% } %>

          </tbody>
        </table>
      </div>
    </div>

  </main>

  <%- include('includes/end.ejs') %>