<%- include('../includes/head.ejs') %>


    <%- include('../includes/navigation.ejs') %>
        <!-- ===============================================-->
        <!--    Main Contents    -->
        <!-- ===============================================-->
        <div class="row g-0">
                <div class="container">
        <div class="m-4 text-center">
            

        </div>
        <div class="row mb-3 no-print">
            <a href="blogs/new" class="btn btn-success d-flex align-items-center"><i
                    class="material-icons mr-2">add_circle</i>
                New Page</a>
        </div>
        <div class="row">

            <% blogs.forEach(blog=>{ %>

            <div class="paper">
                <table class="bordertable">
                    <tr class="borderheader ">
                        <td height="30mm">
                            <%= blog.title %>                            
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top">

                                    <%- blog.description %>
                        </td>

                    </tr>
                </table>
                <div class="more position-relative no-print" style="cursor: pointer;">


                    <i class="material-icons p-2">more_vert</i>
                    <!-- options list -->
                    <div class="d-none options card rounded-pill shadow-sm p-1 position-absolute">
                        <a href="blogs/edit/<%= blog.id %> " class="rounded-circle p-2 mb-2" style="background:blue;">
                            <i class="material-icons" style="color:white">create</i>
                        </a>
                        <form action="/blogs/<%=blog.id%>?_method=DELETE" method="POST">
                            <button class="rounded-circle p-2 bg-danger">
                                <i class="material-icons" style="color:white">delete</i>

                            </button>
                        </form>

                    </div>
                </div>
            </div>

            <% }) %>




        </div>
        <script src="/js/index.js"></script>
        <script src="/js/tinyClassic.js"></script>

        </div>

            <!-- End of Main Content -->

            <%- include('../includes/end.ejs') %>