<%- include('../includes/head.ejs') %>


<%- include('../includes/navigation.ejs') %>
<!-- ===============================================-->
<!--    Main Contents    -->
<!-- ===============================================-->
<div class="card mb-3">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-5 col-md-4">
                <div class="position-relative h-sm-100"><a class="d-block h-100"
                        href="../../../app/e-commerce/product/product-details.html"><img
                            class="img-fluid fit-cover w-sm-100 h-sm-100 rounded-1 absolute-sm-centered"
                            src="<%= product.imageURL %>" alt="<%= product.title %>"></a>
                </div>
            </div>
            <div class="col-lg-6">
                <h5>
                    <%= product.title %>
                </h5>

                <p class="fs--1"><%= product.description %></p>
                <h4 class="d-flex align-items-center"><span class="text-warning me-2">$<%= product.price %></span></h4>
                
                <div class="row">
                    <div class="col-auto pe-0">
                        <div class="input-group input-group-sm" data-quantity="data-quantity"><button
                                class="btn btn-sm btn-outline-secondary border-300" data-field="input-quantity"
                                data-type="minus">-</button><input
                                class="form-control text-center input-quantity input-spin-none" type="number" min="0"
                                value="0" aria-label="Amount (to the nearest dollar)" style="max-width: 50px"><button
                                class="btn btn-sm btn-outline-secondary border-300" data-field="input-quantity"
                                data-type="plus">+</button></div>
                    </div>
                    
                </div>
                <div class="row">

                    <div class="col-auto px-2 px-md-3">
                        <form action="/cart" method="post"> 
                            <button class="btn btn-sm btn-primary">
                                <svg class="svg-inline--fa fa-cart-plus fa-w-18 me-sm-2" aria-hidden="true" focusable="false"
                                    data-prefix="fas" data-icon="cart-plus" role="img" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 576 512" data-fa-i2svg="">                               
                                </svg>
                            <span class="d-none d-sm-inline-block">Add To Cart</span></button>
                            <input type="hidden" name="productId" value="<%= product.id %>">
                        </form>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<!-- End of Main Content -->

<%- include('../includes/end.ejs') %>