
<% if(product.drawings.boom) { %>
  <!-- ===============================================-->
  <!--    붐 도면    -->
  <!-- ===============================================-->
  <div class="pages" id="drawing_boom">
    <table class="bordertable">
      <tr class="borderheader">
        <td height="30mm">
          붐 도면
        </td>
      </tr>
      <tr>
        <td class="head_description">
          <%- product.drawings.boom %> 
        </td>
      </tr>
    </table>
  </div>
  <% } %>



<% if (product.drawings.arm) { %> 
  <!-- ===============================================-->
  <!--    암 도면    -->
  <!-- ===============================================-->
  <div class="pages" id="drawing_arm">
    <table class="bordertable">
      <tr class="borderheader">
        <td height="30mm">
          암 도면
        </td>
      </tr>
      <tr>
        <td class="head_description">
          <%- product.drawings.arm %> 
        </td>
      </tr>
    </table>
  </div>
  <% } %>


<% if (product.drawings.bucket) { %> 
  <!-- ===============================================-->
  <!--    버켓 도면    -->
  <!-- ===============================================-->
  <div class="pages" id="drawing_bucket">
    <table class="bordertable">
      <tr class="borderheader">
        <td height="30mm">
          버켓 도면
        </td>
      </tr>
      <tr>
        <td class="drawing_bucket">
          <%- product.drawings.bucket %> 
        </td>
      </tr>
    </table>
  </div>
  <% } %>



<% if (product.drawings.bucket_capa) { %> 
  <!-- ===============================================-->
  <!--    버켓 용적    -->
  <!-- ===============================================-->
  <div class="pages" id="drawing_bucket_capa">
    <table class="bordertable">
      <tr class="borderheader">
        <td height="30mm">
          버켓 용적
        </td>
      </tr>
      <tr>
        <td class="head_description">
          <%- product.drawings.bucket_capa %> 
        </td>
      </tr>
    </table>
  </div>
  <% } %>



  <% if (product.drawings.Qcouplr) { %> 
    <!-- ===============================================-->
  <!--    퀵 커플러    -->
  <!-- ===============================================-->
  <div class="pages" id="drawing_Qcouplr">
    <table class="bordertable">
      <tr class="borderheader">
        <td height="30mm">
          퀵 커플러
        </td>
      </tr>
      <tr>
        <td class="head_description">
          <%- product.drawings.Qcouplr %> 
        </td>
      </tr>
    </table>
  </div>

  <% } %>

<% if (product.drawings.dozer) { %> 

  <!-- ===============================================-->
  <!--    배토판    -->
  <!-- ===============================================-->
  <div class="pages" id="drawing_dozer">
    <table class="bordertable">
      <tr class="borderheader">
        <td height="30mm">
          배토판
        </td>
      </tr>
      <tr>
        <td class="head_description">
          <%- product.drawings.dozer %> 
        </td>
      </tr>
    </table>
  </div>

<% } %> 



<% if (product.drawings.Emission_Certi) { %> 
  <!-- ===============================================-->
  <!--    배출가스 인증서    -->
  <!-- ===============================================-->
  <div class="pages" id="drawings_Emission_Certi">
    <table class="bordertable">
      <tr class="borderheader">
        <td height="30mm">
          배출가스 인증서
        </td>
      </tr>
      <tr>
        <td class="head_description">
          <%- product.drawings.Emission_Certi %> 
        </td>
      </tr>
    </table>
  </div>
  <% } %>

<% if (product.drawings.Emission_Certi2) { %> 
  <!-- ===============================================-->
  <!--    배출가스 인증서    -->
  <!-- ===============================================-->
  <div class="pages" id="drawings_Emission_Certi2">
    <table class="bordertable">
      <tr class="borderheader">
        <td height="30mm">
          배출가스 인증서
        </td>
      </tr>
      <tr>
        <td class="head_description">
          <%- product.drawings.Emission_Certi2 %> 
        </td>
      </tr>
    </table>
  </div>
  <% } %>


<% if (product.drawings.EngineCurve) { %> 
  <!-- ===============================================-->
  <!--    엔진 커브    -->
  <!-- ===============================================-->
  <div class="pages" id="drawings_EngineCurve">
    <table class="bordertable">
      <tr class="borderheader">
        <td height="30mm">
          엔진 성능 곡선
        </td>
      </tr>
      <tr>
        <td class="head_description">
          <%- product.drawings.EngineCurve %> 
        </td>
      </tr>
    </table>
  </div>
  <% } %>
      

