<% var gross_weight=product.operating_weight + 65; 
var axle_motor_rev=(product.travel.pump_displacement_travel *
    product.travel.motor_eff_travel/ product.travel.motor_displacement_travel* 1000).toFixed(); 
var travel_speed=(2 * Math.PI * axle_motor_rev * product.travel.tire_rolling_radius /1000 * 60 /(product.travel.TM_reduction * product.travel.axle_reduction * 10**3)).toFixed(); 
const radians_to_degrees=(radians)=> { return radians * (180/Math.PI); }

const degrees_to_radians=(degrees)=> { return degrees / (180/Math.PI); }

var noslip_slope = (radians_to_degrees(Math.atan(product.travel.friction_surface))).toFixed(1);
var traction_slope = (radians_to_degrees(Math.asin((product.travel.traction_force - product.travel.running_resist *
gross_weight)/gross_weight))).toFixed(1);
var min_slope = (Math.min(product.travel.engine_slope, noslip_slope, traction_slope)).toFixed();

var innerKingpin_COS = Math.round(product.undercarriage.wheel_base / Math.sin(degrees_to_radians(product.travel.wheel_angle)));
var outer_rim_minRadius = Math.round(innerKingpin_COS + product.travel.kingpin_offset);
var turning_radius = Math.ceil(outer_rim_minRadius*1.05 / 1000) * 1000; // 1000 단위로 올림
    %>

<% 
var braking_speed_standard	= Math.max(travel_speed * 0.8 , 32)
var braking_force_axle	= (product.travel.brake_torque_axle/(9.8 * product.travel.tire_rolling_radius / 1000)).toFixed()
var braking_force_total	= (2*braking_force_axle).toFixed()
var braking_limit_slope	= (radians_to_degrees(Math.asin(braking_force_total/gross_weight))).toFixed(1)
 %> 
<% 
var idle_running = 0.5;
var decceleration_rate = (braking_force_total/ gross_weight).toFixed(1);
var decceleration = (decceleration_rate * 9.81).toFixed(1);
var braking_distance_max = (travel_speed**2/(2*decceleration)*((1000/3600)**2) + idle_running*travel_speed*(1000/3600)).toFixed(1);
var braking_distance_norm = (braking_speed_standard**2/(2*decceleration)*(1000/3600)**2 + idle_running*braking_speed_standard*(1000/3600)).toFixed(1);
 %> 

    <!-- ===============================================-->
    <!--    주행 능력    -->
    <!-- ===============================================-->
    <div class="pages" id="Travel_Speed">
        <table class="bordertable">
            <tr class="borderheader">
                <td height="30mm">주행 속도</td>
            </tr>

            <tr>
                <td class="head_description">
                    <p>“최고속도”란 평탄하고 건조한 아스팔트 포장노면에서 운전중량 상태의 건설기계가 주행할 수 있는 최고속도를 말한다.</p>
                    <p>▷ 아래 계산 결과에 따라 <strong> 최고 주행 속도는 <%= travel_speed %>㎞/h</strong></p>
                    <p>○ 주행 성능 관련 사양</p>

                    <table class="innertable" width="90%" height="300px">
                        <thead>
                            <tr>
                                <th>항목</th>
                                <th>기호</th>
                                <th>단위</th>
                                <th>제원</th>
                                <th>비고</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>주행 펌프 유량</td>
                                <td>$$Q$$</td>
                                <td>l/min</td>
                                <td>
                                    <%= product.travel.pump_displacement_travel %>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>주행 모터 이론 용적</td>
                                <td>$$q$$</td>
                                <td>cc/rev</td>
                                <td>
                                    <%= product.travel.motor_displacement_travel %>
                                </td>
                                <td>고속주행 </td>
                            </tr>
                            <tr>
                                <td>주행 모터 용적 효율</td>
                                <td>$$mu_{mv}$$</td>
                                <td>%</td>
                                <td>
                                    <%= product.travel.motor_eff_travel %>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>트랜스미션 감속비</td>
                                <td>$$I_t$$</td>
                                <td></td>
                                <td>
                                    <%= product.travel.TM_reduction %>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>액슬 감속비</td>
                                <td>$$I_r$$</td>
                                <td></td>
                                <td>
                                    <%= product.travel.axle_reduction %>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>타이어 동하중 반경</td>
                                <td>$$R$$</td>
                                <td>㎜</td>
                                <td>
                                    <%= product.travel.tire_rolling_radius %>
                                </td>
                                <td></td>
                            </tr>
                        </tbody>

                    </table>
                    <p>○ 주행 속도 계산</p>
                    <table class="innertable" width="90%" height="300px">
                        <thead>
                            <tr>
                                <th>항목</th>
                                <th>산식</th>
                                <th></th>
                                <th>제원</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>주행모터 축 회전수</td>
                                <td>$$SM_1 = \frac{Q \cdot \mu_{mv}}{q} \times 1000$$</td>
                                <td>$$ \frac{ <%= product.travel.pump_displacement_travel %> \cdot <%= product.travel.motor_eff_travel
                                            %>
                                            }{ <%= product.travel.motor_displacement_travel %> } \times 1000$$</td>
                                <td>
                                    <%= axle_motor_rev %>
                                </td>
                            </tr>
                            <tr>
                                <td>주행속도</td>
                                <td>$$V_1 = \frac {SM_1 \times 2\pi R \times 60}{I_t \times I_r \times 10^3}$$</td>
                                <td>$$ \frac {<%= axle_motor_rev %> \times 2\pi \times
                                        <%= product.travel.tire_rolling_radius / 1000 %> \times 60}{ <%= product.travel.TM_reduction
                                                %> \times
                                                <%= product.travel.axle_reduction %> \times 10^3}$$</td>
                                <td>
                                    <%= travel_speed %>
                                </td>
                            </tr>
                        </tbody>
                    </table>



                </td>
            </tr>
        </table>
    </div>



    <!-- ===============================================-->
    <!--    경사지 등판 능력    -->
    <!-- ===============================================-->
    <div class="pages" id="Greadability_traction">
        <table class="bordertable">
            <tr class="borderheader">
                <td height="30mm">경사지 등판 및 제동 능력</td>
            </tr>

            <tr>
                <td class="head_description">
                    <p>
                        굴착기는 100분의 25(무한궤도식 굴착기는 100분의 30을 말한다) 기울기의 견고한 건조 지면을 올라갈 수 있고, 정지상태를 유지할
                        수 있는 제동장치 및 제동장금장치를
                        갖추어야 한다.
                    </p>
                    <p>○ 등판능력 관련 제원</p>


                    <table class="innertable" width="60%" height="300px">
                        <thead>
                            <tr>
                                <th>항목</th>
                                <th>기호</th>
                                <th>단위</th>
                                <th>제원</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>전장비중량</td>
                                <td>$$W_T$$</td>
                                <td>Kgf</td>
                                <td>
                                    <%= gross_weight %>
                                </td>
                            </tr>
                            <tr>
                                <td>견인력</td>
                                <td>$$DP$$</td>
                                <td>Kgf</td>
                                <td>
                                    <%= product.travel.traction_force %>
                                </td>
                            </tr>
                            <tr>
                                <td>지면마찰계수</td>
                                <td>$$\mu$$</td>
                                <td></td>
                                <td>
                                    <%= product.travel.friction_surface %>
                                </td>
                            </tr>
                            <tr>
                                <td>주행저항계수</td>
                                <td>$$\xi$$</td>
                                <td></td>
                                <td>
                                    <%= product.travel.running_resist %>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p>○ 등판 및 유지 경사각 계산</p>

                    <table class="innertable" width="90%" height="300px">

                        <tbody>
                            <tr>
                                <td colspan="3">미끄러지지 않는 최대 경사각 (마찰력)</td>
                            </tr>
                            <tr>
                                <td>$$\mu \cdot W_T \cdot \cos \theta_1 = W_T \cdot \sin \theta_1$$</td>
                                <td>$$\theta_1 = \tan^{-1} 0.90$$</td>
                                <td>
                                    <%= noslip_slope %>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">흘러내리지 않는 최대 경사각 (견인력)</td>

                            </tr>
                            <tr>
                                <td>$$DP-\xi W_T = W_T \cdot \sin \theta_2$$</td>
                                <td>$$\theta_2 = \sin ^{-1} \frac{<%= product.travel.traction_force %> - <%=
                                            product.travel.running_resist %> \cdot <%= gross_weight %>}{<%= gross_weight %>}$$
                                </td>
                                <td>
                                    <%= traction_slope %>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">엔진 오일 팬 기준 경사각</td>

                            </tr>
                            <tr>
                                <td>엔진 제원 사양</td>
                                <td>
                                </td>
                                <td>
                                    $$<%= product.travel.engine_slope %>$$
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">최종 경사각</td>
                            </tr>
                            <tr>
                                <td colspan="2" height="100px">위 3 가지 경사각 사양 중 가장 작은 값</td>
                                <td>
                                    $$<%= min_slope %>$$
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </td>
            </tr>
        </table>
    </div>



    <!-- ===============================================-->
    <!--    브레이크 제동 능력    -->
    <!-- ===============================================-->
    <div class="pages" id="Braking_capability">
        <table class="bordertable">
            <tr class="borderheader">
                <td height="30mm">주제동장치와 제동능력</td>
            </tr>

            <tr>
                <td class="head_description">
                    <p>

                    </p>
                    <p>○ 타이어식 건설기계의 주제동장치</p>


                    <table class="innertable" width="60%" height="">
                        <thead>
                            <tr>
                                <th>항목</th>
                                <th>기호</th>
                                <th>단위</th>
                                <th>제원</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>전장비중량</td>
                                <td>$$W$$</td>
                                <td>㎏</td>
                                <td> <%= gross_weight %> </td>
                            </tr>                           
                            <tr>
                                <td>브레이크 토크 (per axle)</td>
                                <td>$$T_{SB}$$</td>
                                <td>Nm</td>
                                <td> <%= product.travel.brake_torque_axle %> </td>
                            </tr>
                            <tr>
                                <td>타이어 동하중 반경</td>
                                <td>$$T_R$$</td>
                                <td>m </td>
                                <td> <%= product.travel.tire_rolling_radius / 1000 %> </td>
                            </tr>
                        </tbody>
                    </table>
                    <p>○ 서비스 브레이크의 제동력 계산</p>

                    <table class="innertable" width="90%" height="">

                        <thead>
                            <tr>
                                <th>항목</th>
                                <th>산식</th>
                                <th></th>
                                <th>제원</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Axle 브레이크 제동력</td>
                                <td>$$F'_{SB}=\frac{T_{SB}}{9.8 \cdot T_R}$$</td>
                                <td>$$\frac{ <%= product.travel.brake_torque_axle %> }{9.8 \cdot  <%= product.travel.tire_rolling_radius / 1000 %> }$$</td>
                                <td>$$<%= braking_force_axle %>$$</td>
                            </tr>
                            <tr>
                                <td>총 서비스 브레이크 제동력</td>
                                <td>$$F_{SB} = 2 \times F'_{SB} $$</td>
                                <td>$$ 2 \times <%= braking_force_axle %> $$</td>
                                <td>$$<%= braking_force_total %>$$</td>
                            </tr>
                            <tr>
                                <td>제동 한계 각</td>
                                <td>$$\theta = \sin ^{-1} \frac {F_{SB}}{W}$$</td>
                                <td>$$ \sin ^{-1} \frac {<%= braking_force_total %>}{ <%= gross_weight %> }$$</td>
                                <td>$$<%= braking_limit_slope %>$$</td>
                            </tr>
                        </tbody>
                    </table>

                </td>
            </tr>
        </table>
    </div>

        <div class="pages" id="Braking_distance">
        <table class="bordertable">
            <tr class="borderheader">
                <td height="30mm">제동 거리</td>
            </tr>

            <tr>
                <td class="head_description">
                    <p>

                    </p>
                    <p>○ 제동거리 산정을 위한 기준 속도 </p>
                    <img src="/images/braking_distance_standard.jpg" alt="" srcset="">


                    <table class="innertable" width="60%" height="">
<thead>
  <tr>
    <th>항목</th>
    <th>기호</th>
    <th>단위</th>
    <th>제원</th>
    <th>비고</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>장비 최고 속도</td>
    <td>$$V_0$$</td>
    <td>㎞ /h</td>
    <td>$$<%= travel_speed %>$$</td>
    <td></td>
  </tr>
  <tr>
    <td>규정 제동 속도</td>
    <td>$$V_1$$</td>
    <td>㎞ /h</td>
    <td>$$<%= braking_speed_standard %>$$</td>
    <td>32 or 80% (greater)</td>
  </tr>
  <tr>
    <td>공주 시간</td>
    <td>$$t$$</td>
    <td>sec</td>
    <td>0.5</td>
    <td></td>
  </tr>
</tbody>
</table>
            <p>○ 제동력과 감가속도 </p>

            <table class="innertable" width="90%" height="">
                <tbody>
                <tr>
                    <td>제동력과 감속도 (감속율)</td>
                    <td>$$\mu = \frac {F_{SB}}{W}$$</td>
                    <td>$$ \frac {<%= braking_force_total %>}{ <%= gross_weight %> }$$</td>
                    <td>$$<%= decceleration_rate %>$$</td>
                </tr>
                <tr>
                    <td>감속</td>
                    <td>$$a=\mu \times g$$</td>
                    <td>$$<%= decceleration_rate %> \times 9.81$$</td>
                    <td>$$<%= decceleration %>$$</td>
                </tr>
                
                </tbody>
            </table>
                </td>
            </tr>
        </table>
    </div>

<div class="pages" id="Braking_distance_2">
    <table class="bordertable">
        <tr class="borderheader">
            <td height="30mm">제동 거리</td>
        </tr>

        <tr>
            <td class="head_description">
                <p>

                </p>
                <p>○ 제동거리 산정을 위한 기준 속도 </p>
                <img src="/images/braking_distance_standard.jpg" alt="" srcset="">



        <p>○ 정지 거리 (최고 속도 / 기준 속도) </p>

        <table class="innertable" width="90%" height="">
<tbody>
  <tr>
    <td>$$S_{max} = \frac{{V_0}^2}{2 \times a} \times (\frac{1000}{3600})^2 + t \times V_0 \times (\frac{1000}{3600})$$</td>
    <td>정지거리 (최고속도)</td>
  </tr>
  <tr>
    <td>$$\frac{{<%= travel_speed %>}^2}{2 \times <%= decceleration %>} \times (\frac{1000}{3600})^2 + <%= idle_running %> \times <%= travel_speed %> \times (\frac{1000}{3600})$$</td>
    <td>$$<%= braking_distance_max %>$$</td>
  </tr>
  <tr>
    <td>$$S_{ISO} = \frac{{V_1}^2}{2 \times a} \times (\frac{1000}{3600})^2 + t \times V_1 \times (\frac{1000}{3600})$$</td>
    <td>정지거리 (규정속도)</td>
  </tr>
  <tr>
    <td>$$\frac{{<%= braking_speed_standard %>}^2}{2 \times <%= decceleration %>} \times (\frac{1000}{3600})^2 + <%= idle_running %> \times <%= braking_speed_standard %> \times (\frac{1000}{3600})$$</td>
    <td>$$<%= braking_distance_norm %>$$</td>
  </tr>
</tbody>
</table>
            </td>
        </tr>
    </table>
</div>