
<% 
var planet_reduct_1 = 1+product.planetary_ring_gear_C1/product.planetary_sun_gear_A1;
var planet_reduct_2 = 1+product.planetary_ring_gear_C2/product.planetary_sun_gear_A2;
var planet_reduct_tot = (planet_reduct_1 * planet_reduct_2).toFixed(2)
var swing_reduction_rev =  (product.swivel.pump_flow * product.swivel.motor_eff / product.swivel.motor_displacement*1000).toFixed(2)

var i_B = (product.gear_swing_bearing / product.gear_pinion).toFixed(2) // 7.07
var i_T = (planet_reduct_tot * i_B).toFixed(2) // 148.14
var swing_rev = (swing_reduction_rev/product.swivel.reduction).toFixed(1);
%>


            <!-- ===============================================-->
            <!--    선회 속도    -->
            <!-- ===============================================-->
            <div class="pages" id="Swing_Speed">
              <table class="bordertable">
                <tr class="borderheader">
                  <td height="30mm">
                    선회 속도
                  </td>
                </tr>

                <tr>
                  <td class="head_description">
                    <p>▷ 아래 계산 결과에 따라 <strong> 최고 선회 속도는 <%= swing_rev %> rpm </strong></p>
                    <p>○ 선회 성능 관련 사양</p>
                    <table class="innertable" width="80%">
                      <thead>
                        <tr>
                          <th>항목</th>
                          <th></th>
                          <th>단위</th>
                          <th>사양</th>
                          <th>비고</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>선회 펌프 유량</td>
                          <td>$$Q$$</td>
                          <td>l/min</td>
                          <td><%= product.swivel.pump_flow %></td>
                          <td>선회 rpm</td>
                        </tr>
                        <tr>
                          <td>모터이론용적</td>
                          <td>$$q_m$$</td>
                          <td>cc/rev</td>
                          <td><%= product.swivel.pump_flow %></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>감속기의 감속비</td>
                          <td>$$i$$</td>
                          <td></td>
                          <td><%= product.swivel.reduction %></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>선회모터용적효율</td>
                          <td>$$\eta_{mv}$$</td>
                          <td></td>
                          <td><%= product.swivel.motor_eff %></td>
                          <td></td>
                        </tr>
                        
                      </tbody>
                    </table>
                    <p>○ 선회 속도 계산</p>
                    <table class="innertable" width="80%">
                      
                      <tbody>
                        <tr>
                          <td class="item-headers" colspan="3">선회감속기 축 회전수 SM(rpm)</td>
                        </tr>
                        <tr>
                          <td>$$SM = {Q \times \eta_{mv} \over q_m} \times 1000$$</td>
                          <td>$${<%= product.swivel.pump_flow %> \times <%= product.swivel.motor_eff %> \over <%= product.swivel.motor_displacement %>} \times 1000$$</td>
                          <td>$$<%= swing_reduction_rev %>$$</td>
                        </tr>
                        <tr>
                          <td class="item-headers" colspan="3">선회속도 S(rpm)</td>
                        </tr>
                        <tr>
                          <td>$$S = {SM \over i} $$</td>
                          <td>$${<%= swing_reduction_rev %> \over <%= product.swivel.reduction %>} $$</td>
                          <td>$$<%= swing_rev %>$$</td>
                        </tr>
                      </tbody>
                    </table>
                    

                  
                </tr>
              </table>
            </div>

            
    <div class="pages" id="Swing_Reduction">
        <table class="bordertable">
            <tr class="borderheader">
                <td height="30mm">선회 감속비</td>
            </tr>

            <tr>
                <td class="head_description">
                    
<p>○ 선회 감속비 제원 사양</p>

          <%- product.description.swing_reduction %> 

                  </td>
                </td>
            </tr>
        </table>
    </div>