
<% var GrossWeight = product.operating_weight + 65 // 운전중량 %>

<%
    var  COG_to_track = product.track_gap/2;
    var weight_upperstructure = GrossWeight - product.weight_understructure - product.weight_Front;
    var COG_gross = (weight_upperstructure * product.COG_upperstructure + product.weight_understructure * product.COG_understructure + product.weight_Front * product.COG_Front) / GrossWeight;
    var excavating_limit = GrossWeight * (COG_to_track - COG_gross) / (product.COG_to_BKT - COG_to_track)/1000;
    var bucket_exca_capa = product.bucket_heap * 1.8;
%>

<!-- ===============================================-->
<!--    전도 안정도    -->
<!-- ===============================================-->
<div class="pages" id="Stability">
<table class="bordertable">
    <tr class="borderheader">
    <td height="30mm">
        작업안정도
    </td>
    </tr>
    <tr>
    <td class="head_description">
        <p>안정도 취약 자세인 측방굴착자세 기준</p>
        <p>안정적으로 굴착가능한 최대 굴착중량: <span id=""><%= excavating_limit.toFixed(2) %></span> </p>
        <p>장착한 버켓 용량에 따른 실굴착중량: <span id=""><%= product.bucket_heap %></span> × 1.8 (토사 표준 비중) = <span
            id=""><%= bucket_exca_capa %></span> </p>

        <table width="100%" height="80%">
        <thead>
            <tr>
            <th colspan="5">
                <img src="/images/Stability2.jpg" width="90%">
            </th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td colspan="2" width="40%">항 목</td>
            <td width="5%">단위</td>
            <td width="20%">사 양</td>
            <td>비고</td>
            </tr>
            <tr>
            <td colspan="2">버켓에서 선회중심간 거리</td>
            <td>㎜</td>
            <td id=""><%= product.COG_to_BKT %></td>
            <td>L<sub>5</sub></td>
            </tr>
            <tr>
            <td colspan="2">선회중심에서 전도지선까지의 거리</td>
            <td>㎜</td>
            <td id=""><%= COG_to_track %></td>
            <td>l</td>
            </tr>
            <tr>
            <td rowspan="2" width="15%">상 부</td>
            <td>무 게 </td>
            <td>㎏</td>
            <td id=""><%= weight_upperstructure %></td>
            <td>G<sub>1</sub></td>
            </tr>
            <tr>
            <td>무 게 중 심</td>
            <td>㎜</td>
            <td id=""><%= product.COG_upperstructure %></td>
            <td>L<sub>1</sub></td>
            </tr>
            <tr>
            <td rowspan="2">하 부</td>
            <td>무 게</td>
            <td>㎏</td>
            <td id=""><%= product.weight_understructure %></td>
            <td>G<sub>2</sub></td>
            </tr>
            <tr>
            <td>무 게 중 심</td>
            <td>㎜</td>
            <td id=""><%= product.COG_understructure %></td>
            <td>L<sub>2</sub></td>
            </tr>
            <tr>
            <td rowspan="2">작업장치</td>
            <td>무 게</td>
            <td>㎏</td>
            <td id=""><%= product.weight_Front %></td>
            <td>G<sub>3</sub></td>
            </tr>
            <tr>
            <td>무 게 중 심</td>
            <td>㎜</td>
            <td id=""><%= product.COG_Front %></td>
            <td>L<sub>4</sub></td>
            </tr>
            <tr>
            <td colspan="2">장 비 전 중 량</td>
            <td>㎏</td>
            <td id=""><%= GrossWeight %>　</td>
            <td>G</td>
            </tr>
            <tr>
            <td colspan="2">무게중심위치</td>
            <td>㎜</td>
            <td id=""><%= COG_gross.toFixed(2) %>　</td>
            <td>$$L = {(G_1·L_1+G_2·L_2+G_3·L_4) \over (G_1+G_2+G_3)}$$</td>
            </tr>
            <tr>
            <td colspan="2">안정도 굴착 한계</td>
            <td>ton</td>
            <td id=""><%= excavating_limit.toFixed(2) %>　</td>
            <td>$$G×{(L_1-L) \over (L_5-L_1)}$$</td>
            </tr>
            <tr>
            <td colspan="2">장착 버켓 기준 굴착용량 </td>
            <td>ton</td>
            <td id=""><%= bucket_exca_capa.toFixed(2) %>　</td>
            <td> 산적 기준 </td>
            </tr>
        </tbody>

        </table>
    </td>
    </tr>
</table>


</div>
