<% var GrossWeight=product.operating_weight + 65 // 운전중량 %>

<% 
var COG_to_track=product.track_gap/2; 

var excavating_limit = Math.round(GrossWeight * (product.tipping_line + product.COG_COS ) / (product.bucket_COS - product.tipping_line)); 
var bucket_exca_capa=product.bucket_heap * 1800;
 %>

<!-- ===============================================-->
<!--    전도 안정도    -->
<!-- ===============================================-->
<div class="pages" id="Stability">
    <table class="bordertable">
        <tr class="borderheader">
            <td height="30mm">
                작업안정도
            </td>
        </tr>
        <tr>
            <td class="head_description">
                <p>안정도 취약 자세인 측방굴착자세 기준</p>
                <p>안정적으로 굴착가능한 최대 굴착중량: <span id="">
                        <%= excavating_limit %>㎏
                    </span> </p>
                <p>장착한 버켓 용량에 따른 실굴착중량: <span id="">
                        <%= product.bucket_heap %> (산적용량)
                    </span> × 1800 (토사 표준 비중) = <span id="">
                        <%= bucket_exca_capa %>㎏
                    </span> </p>

                <table width="100%">
                    <thead>
                        <tr>
                            <th colspan="5">
                                <img src="/images/Stability2.jpg" width="90%">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>항목</th>
                            <th>기호</th>
                            <th>단위</th>
                            <th>제원</th>
                            <th>비고</th>
                        </tr>
                        <tr>
                            <td>장비 총 중량</td>
                            <td>$$W_T$$</td>
                            <td>㎏</td>
                            <td>
                                <%= GrossWeight %>
                            </td>
                            <td>운전자 65kg</td>
                        </tr>
                        <tr>
                            <td>선회중심에서 장비 무게 중심 간 거리</td>
                            <td>$$X_T$$</td>
                            <td>㎜</td>
                            <td>
                                <%= product.COG_COS %>
                            </td>
                            <td>-값: 작업장치 방향</td>
                        </tr>
                        <tr>
                            <td>선회중심에서 버켓 (최대굴착거리) 간 거리</td>
                            <td>$$L$$</td>
                            <td>㎜</td>
                            <td>
                                <%= product.bucket_COS %>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>선회중심에서 장비 전도지선 간 거리</td>
                            <td>$$L_1$$</td>
                            <td>㎜</td>
                            <td>
                                <%= product.tipping_line %>
                            </td>
                            <td>트랙간거리/2</td>
                        </tr>
                        <tr>
                            <td>굴착 용량 (장착한 버켓 기준)</td>
                            <td></td>
                            <td>㎥</td>
                            <td>
                                <%= product.bucket_heap * 1800 %>
                            </td>
                            <td>산적</td>
                        </tr>
                    </tbody>


                </table>
                <p>측방굴착자세 굴착용량 계산</p>
                <table  width="100%">
                    <thead>
                        <tr>
                            <th colspan="2">산식</th>
                            <th>굴착한계(㎏)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>$$W_L = \frac{ W_T (L_1 + X_T) } {L - L_1}$$</td>
                            <td>$$\frac { <%= GrossWeight %> * ( <%= product.tipping_line %> +(<%= product.COG_COS %>)) } {<%= product.bucket_COS %> - <%= product.tipping_line %>}$$</td>
                            <td>$$<%= excavating_limit %>$$ </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>


</div>